[tool.poetry]
name = "collagraph"
version = "0.8.0"
description = "Reactive user interfaces"
authors = ["Berend Klein Haneveld <berendkleinhaneveld@gmail.com>", "Korijn van Golen <korijn@gmail.com>"]
license = "MIT"
homepage = "https://github.com/fork-tongue/collagraph"
readme = "README.md"

[tool.poetry.extras]
pygfx = ["pygfx"]
pyside = ["pyside6"]

[tool.poetry.dependencies]
python = ">=3.9"
observ = ">=0.14.1"
pygfx = { version = ">=0.2.0", optional = true }
pyside6 = { version = ">=6.6", python = "<3.13", optional = true }

[tool.poetry.group.dev.dependencies]
ruff = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"

[tool.poetry.group.pyside]
optional = true

[tool.poetry.group.pyside.dependencies]
# When PySide6 is not installed, then pytest-qt will break the test suite.
# But pytest-qt can't be marked as an optional dev dependency. So instead
# it is now part of a group which can be installed as follows:
#  > poetry install --with pyside --extras pyside
pytest-qt = "*"
pytest-xvfb = "*"

[tool.poetry.plugins.pyinstaller40]
hook-dirs = "collagraph.__pyinstaller:get_hook_dirs"

[tool.poetry.scripts]
collagraph = "collagraph.__main__:run"

[tool.ruff.lint]
select = [
    "E4",
    "E5",
    "E7",
    "E9",
    "F",   # Pyflakes (default)
    "I",   # isort imports
    "N",   # pep8-naming
    "T10", # flake8-debugger
    "T20", # flake8-print
    "RUF", # ruff
]

[tool.ruff.lint.per-file-ignores]
"collagraph/renderers/**/__init__.py" = ["F401"]
"collagraph/renderers/__init__.py" = ["E402"]
"tests/pyside/test_*.py" = ["E402"]
"tests/*" = ["N806", "N802"]
"collagraph/__pyinstaller/*" = ["N999"]
"tests_legacy/*" = ["N"]
"examples/*" = ["N999", "N802"]
"examples/pyside/flow_layout.py" = ["N802"]

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"
